.button {
  margin: 0.75rem 0;
}
.button .icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.25rem;
  color: #fff;
}

.button .badge {
  background-color: #d10202ef;
  transition: all 250ms linear;
  color: #fff;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2.1rem;
  border-radius: 2rem;
  margin-left: 0.5rem;
  font-weight: bold;
  position: absolute;
  right: -15%;
  top: -42%;
  box-shadow: -0.1rem 0.25rem 0.25rem #00000020;
}

.button:hover .badge,
.button:active .badge {
  color: #fff;
  background-color: hsla(0, 98%, 30%);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
